{% extends 'base.html' %}

{% block conteudo %}
  <h2>Nosso Catálogo</h2>
  <div class="lista-produtos">
    {% for produto in produtos %}
      <div class="card-produto">
        
        <img src="{{ url_for('static', filename='img/' ~ produto.foto_principal) }}" alt="{{ produto.nome }}">
        
        
        <h3>{{ produto.nome }}</h3>
        <p>R$ {{ produto.preco }}</p>
        
        
        <a href="{{ url_for('detalhes_produto', id_produto=produto.id_produto) }}">Ver mais</a>
      </div>
    {% endfor %}
  </div>
{% endblock %}