{% extends 'base.html' %}

{% block title %}Nossos Produtos | Glow & Glam{% endblock %}

{% block conteudo %}
<h1 class="page-title">Nosso Catálogo</h1>

<div class="product-grid">
    {% for produto in produtos %}
        <div class="product-card">
            <img src="{{ url_for('static', filename='img/' ~ produto.foto_principal) }}" alt="{{ produto.nome_produto }}">
            <div class="product-info">
                <h3 class="product-title">{{ produto.nome_produto }}</h3>
                <div class="product-price">R$ {{ produto.preco }}</div>
                <a href="{{ url_for('produto', id=produto.id_produto) }}" class="btn" style="margin-top: auto;">Ver Detalhes</a>
            </div>
        </div>
    {% else %}
        <p>Nenhum produto cadastrado no momento.</p>
    {% endfor %}
</div>
{% endblock %}