<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo - Loja de Maquiagem</title>
    <link rel="stylesheet" href="/static/src/catalogo.css">
</head>
<body>

    <header>
        <nav>
            
            <ul>
                <li><a href="index">Início</a></li>
                <li><a href="catalogo">Catálogo</a></li>
                <li><a href="categorias">Categorias</a></li>
                <li><a href="cadastro">Cadastro</a></li>
                <li><a href="login">Login</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <!-- Requisito 2: Listagem de Produtos -->
        <h1>Catálogo de Produtos</h1>
        
        <section>
            <!-- Exemplo de Item 1 -->
            <article>
                <img src="static/batom.jpg" alt="Batom Matte Red">
                <h3>Batom Matte Red</h3>
                <p>Preço: R$ 39,90</p>
                <a href="produto.html">Ver mais</a>
            </article>

            <!-- Exemplo de Item 2 -->
            <article>
                <img src="static/base.jpg" alt="Base Líquida">
                <h3>Base Líquida Alta Cobertura</h3>
                <p>Preço: R$ 59,90</p>
                <a href="produto.html">Ver mais</a>
            </article>
        </section>
    </main>

</body>
</html>