<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias - Loja de Maquiagem</title>
</head>
<body>

    <header>
        <nav>
            <h2></h2>
            <ul>
                <li><a href="index">Início</a></li>
                <li><a href="catalogo">Catálogo</a></li>
                <li><a href="categorias">Categorias</a></li>
                <li><a href="cadastro">Cadastro</a></li>
                <li><a href="login">Login</a></li>
               
            </ul>
        </nav>
    </header>

    <main>
        
        <h1>Categorias</h1>
        <section>
            <ul>
                <li><a href="catalogo.html?categoria=labios">Lábios (Batons, Gloss)</a></li>
                <li><a href="catalogo.html?categoria=rosto">Rosto (Bases, Corretivos)</a></li>
                <li><a href="catalogo.html?categoria=olhos">Olhos (Sombra, Delineador)</a></li>
                <li><a href="catalogo.html?categoria=acessorios">Pincéis e Acessórios</a></li>
                <li><a href="catalogo.html?categoria=bolsas">Necessaires e Bolsas</a></li>
            </ul>
        </section>
    </main>

</body>
</html>