
    {% extends 'base.html'%}
    {% block conteudo%}
        
        <section>
            <img src="{{ url_for('static', filename='banner.jpg') }}" alt="Destaque Loja de Maquiagem">
            <h1>Sua beleza em primeiro lugar</h1>
            <p>Confira os lançamentos da temporada!</p>
        </section>

        
        <section>
            <h2>Sobre a Nossa Loja</h2>
            <p>Oferecemos a melhor linha de cosméticos e maquiagens para realçar sua beleza com qualidade e elegância.</p>
        </section>

    {% endblock %}

    
