<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja de Maquiagem</title>
</head>
<body>

    <header>
            <h2>Login</h2>
    </header>

    <main>
        <h1>Acessar Conta</h1>

        <form action="/login" method="POST">
            <div>
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <br>
            <div>
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" required>
            </div>
            <br>
            <button type="submit">Entrar</button>
        </form>
    </main>

   

</body>
</html>